* {
    margin: 0
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Fasthand&family=Jim+Nightshade&display=swap');



h1 {
    background: peachpuff url(images/R.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    text-align: center;
    padding: 10%;
    position: sticky;
    top: 0%;
    border-radius: 0px 0px 25px 25px;
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    color: peachpuff;
    text-shadow: rgb(93, 8, 8) 10px 10px 10px;
    z-index: 20;
    box-shadow: 0 10px 5px -5px;

}

.intro {
    font-size: 2rem;
    color: rgba(255, 255, 240, 0.634);
    font-family: 'dancing script';
}

h2 {
    color: rgb(93, 8, 8);
    text-shadow: 10px 10px 20px rgba(248, 51, 16, 0.742);
    text-align: center;
    font-size: 7rem;
    font-family: 'fasthand';
}


.container,
footer {
    width: 500px;
    margin: auto;
    background: peachpuff;
    position: relative;

}

article {
    background: rgba(186, 67, 25, 0.726);
    border-radius: 25px 25px 25px 25px;
    padding-top: 5%;
    padding-bottom: 5%;

}

.main {
    font-family: 'fasthand';
}

img {
    height: 200px;
    width: 290px;
}

.img1 {
    display: block;
    margin-left: auto;
    border-radius: 25px 0px 0px 25px;
    margin-bottom: 5%;


}

.img2 {
    border-radius: 0px 25px 25px 0px;
    margin-bottom: 5%;

}

aside {
    display: none;
}

p {
    text-align: center;
    font-size: 20px;
    padding: 2%;
}
strong {
    color: rgb(141, 9, 35);
}

footer {
    padding: 2%;
    columns: 1;
    text-align: center;

}

.footlink {
    text-align: left;
}


@media screen and (min-width: 700px) {

    .container,
    footer {
        width: 100%;
    }

    h1 {
        padding: 5%;


    }

    .img1,
    .img2 {
        display: block;
        width: 90%;
        height: 90%;
        border-radius: 25px 25px 25px 25px;
        margin: auto;
    }

}

@media screen and (min-width: 1100px) {

    .img1,
    .img2 {
        width: 700px;
        height: 600px;
        box-shadow: 10px 10px 40px;


    }

    .img1 {
        margin-right: 40%;
    }

    .img2 {
        margin-left: 40%;

    }

    .side1 {
        display: inline-block;
        position: absolute;
        top: 40%;
        left: 50%;
        background-color: rgba(12, 99, 180, 0.682);
        box-shadow: -5px -5px 20px ivory;
        color: blanchedalmond;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-radius: 15px 15px;
    }

    .side2 {
        display: inline-block;
        background-color: rgba(12, 99, 180, 0.682);
        width: 30%;
        position: absolute;
        bottom: 10%;
        margin-left: 10%;
        padding: 5%;
        font-size: 1.2rem;
        color: blanchedalmond;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-shadow: 5px 5px 20px;
        border-radius: 15px 15px;
    }
    .maincontent{
        font-size: 2rem;
        background-color: rgba(127, 255, 212, 0.475);
        margin: 1%;
    }


}





/* typography

color: #FFF;
text-align: center;
font-size: 20px;
font-family: Inter;
font-style: italic;
font-weight: 100;
line-height: normal; */